@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* Layout */
$inner-width: 700px;

/* color */
$color-default: #000;
$color-ci: #353746;
$color-white: #fff;

/* Font-family */
$font-family-default: 'Spoqa Han Sans', sans-serif;;

/* Font-size */
$font-size-default: 13px;

